<script>
	let page_requests = 40;
	let loads = 5;
	let percentile = 99.9;
	$: title = "How the "+percentile+"ᵗʰ percentile is relevant ?";
	$: document.title = title;
	$: probability = round((1 - Math.pow(percentile/100, page_requests * loads)) * 100);
	
	function round(value) {
		return Number(Math.round(value+'e2')+'e-2')
	}
</script>

<h1>{title}</h1>

<div>
	<label for=requests>HTTP request number</label>
	<input type=number id=requests bind:value={page_requests} min=1 step=1>
</div>

<div>
	<label for=loads>Page loads in the session</label>
	<input type=number id=loads bind:value={loads} min=1 step=1>
</div>

<div>
	<label for=percentile>Percentile</label>
	<select id=percentile bind:value={percentile}>
		<option value=50>50</option>
		<option value=95>95</option>
		<option value=99>99</option>
		<option selected value=99.9>99.9</option>
		<option value=99.99>99.99</option>
		<option value=99.999>99.999</option>
	</select>
</div>

<pre>(1-({percentile}/100)<sup>{page_requests}*{loads}</sup>)*100 = {probability}</pre>

<p>The probability for a user to have a latency at least as high as the {percentile}ᵗʰ percentile is <strong>{probability}%</strong>.</p>

<p>The probability for a user to not experience worse than the {percentile}ᵗʰ percentile is {round(100-probability)}%.</p>

<footer>
	<p>The purpose of this page is to show that extremes values must be taken into account for latency measurements.
	It can also helps to decide which percentile you should look at for a web page.</p>

	<p>It's inspired by <a href="https://www.infoq.com/presentations/latency-response-time/">How NOT to Measure Latency</a> by Gil Tene.</p>
	
	<p><a href=https://gitlab.com/nin_/how-999-is-relevant>https://gitlab.com/nin_/how-999-is-relevant</a></p>
</footer>
